﻿@model IEnumerable<SISCOClients.Models.v_SISCOClientService__c>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Anniversary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Coverage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Services)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortStartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShortEndDate)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Anniversary)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Coverage)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Services)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortEndDate)
            </td>
        </tr>
    }

</table>