﻿@model IEnumerable<SISCOClients.Models.v_SISCOClientTPA_Contact__c>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Position)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ext)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OtherInfo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ext)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherInfo)
            </td>
        </tr>
    }

</table>