﻿@model SISCOClients.Models.v_SISCOClientAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TPAReferenceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TPAReferenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Street)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            <a href="@Html.DisplayFor(model => model.URL)" target="_blank">@Html.DisplayFor(model => model.Website)</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Industry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Industry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BenefitsManager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BenefitsManager)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Producer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producer)
        </dd>


    </dl>
</div>
<p>

    @Html.ActionLink("<< Back to Search", "Index")
</p>
<hr />
<ul class="nav nav-tabs">
    <li><a href="#contacts" data-toggle="tab">Contacts</a></li>
    <li><a href="#tpacontacts" data-toggle="tab">TPA Contacts</a></li>
    <li><a href="#coverages" data-toggle="tab">Coverages</a></li>
    <li><a href="#subsidiaries" data-toggle="tab">Subsidiaries</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane" id="contacts">
        @Html.Partial("_ContactPartial",Model.Contacts.OrderBy(n => n.LastName))
    </div>
    <div class="tab-pane" id="tpacontacts">
        @Html.Partial("_TPAContactPartial", Model.TPAContacts.OrderBy(n => n.Name))
    </div>
    <div class="tab-pane" id="coverages">
        @Html.Partial("_ServicePartial", Model.Services.OrderByDescending(n => n.Term_Begins))
    </div>
    <div class="tab-pane" id="subsidiaries">
        @Html.Partial("_AccountPartial", Model.Children.OrderBy(n => n.Client))
    </div>
</div>