﻿@model IEnumerable<SISCOClients.Models.v_SISCOClientAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Search</h2>

<form class="form-inline" role="form" method="post">
    <div class="form-group">
        <label for="name">Group Name: </label>
        <input id="name" name="name" class="form-control" type="text" value="@Html.ViewBag.name" /><br/>
        <label for="number">Group Number: </label>
        <input name="number" class="form-control" type="text" value="@Html.ViewBag.number" />
        <br /><br />
        <button type="submit" class="btn btn-default btn-lg ">
            <span class="glyphicon glyphicon-search"></span>  Search
        </button>
    </div>
</form>
<hr />

@Html.Partial("_AccountPartial", Model.OrderBy(n => n.Client))



